*{
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    
}

/* 導覽列 */
nav {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    background: rgb(163, 237, 255);
    box-shadow: 0 5px 10px rgb(109, 173, 189);
    padding: 20px 30px;
    align-items: center;

}
#logo img {
   width: 70px;
}

#link a {
    padding: 0 30px ;
    /* td 文字樣式 刪除底線 */
    text-decoration: none;
    font-weight: 900;
    color: rgb(255, 255, 255);
    transition: 0.5s;
    font-size: 25px;
}

#link a:hover {
color: rgb(255, 161, 197);
}

#social img {
    width: 50px;
}

/* 商品類型 */
/* 把排版分成左右兩側 */
/* 元素1 > 元素2 */
/* 元素1 裡面 第1層的 元素2 */
#products {
    width: 1280px;
    margin: 0 auto;
}

#products > div {
    display: grid;
    grid-template-columns: 60% 40%;
}

/* 圖片原比例 */
#products .pic img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

/* 文字間距 */
#products .text {
    padding: 150px 20px 0 0 ;
}

#products .text h1 {
    padding: 30px 0;
}

#products .text p {
    width: 300px;
    line-height: 2;
}